  <div class="container">
    <div class="youtube__cover">
      <%  if @access_token %>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% @items.each do |i| %>
                <div class="youtube__content swiper-slide">
                    <div class="youtube__screen">
                      <iframe class="youtube__screen-frame" width="889" height="500" src="https://www.youtube.com/embed/<%= i['id'] %>" frameborder="no"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video-status">
                      <div class="video_title"><%= i['snippet']['title'] %></div>
                      <div class="video_date"><%= i['snippet']['publishedAt'].slice(0,10) %></div>
                    </div>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
      <% else %>
        <%# アクセストークンを得ていないときはdummyの画面 %>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="youtube__content swiper-slide">
              <div class="youtube__screen">
                <div class="dummy-frame">
                  <div class="copy-right">
                    <%= link_to "mohamed Hassan", "https://pixabay.com/ja/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3080834", class: 'copy-link',target: :_blank %>
                    <span>による</span>
                    <%= link_to "Pixabay", "https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3080834", class: 'copy-link',target: :_blank %>
                    <span>からの画像</span>
                  </div>
                </div>
              </div>
              <div class="video-status">
                <div class="video_title">youtube_5_recommends</div>
                <div class="video_date">あなたが過去に高評価した動画を5本とってきます<br>このwebアプリはgoogleの承認を通ることで使えます。<br>さあ、サイドバーにある承認をクリックしアプリをはじめましょう!</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
