<% @youtube_data.items.each do |item| %>
<% snippet = item.snippet %>
<p>
  <%= snippet.title %>
</p>
<div class="youtube__screen">
  <iframe width="889" height="500" src="https://www.youtube.com/embed/<%= item.id.video_id %>"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<% end %>

<div>
  <%# アカウント認証するとcode発行 %>
  <%= link_to "あなたのgoogleアカウントを認証してください", "https://accounts.google.com/o/oauth2/auth?client_id=660241016882-pl2v6ilg0k0vqi3eqdqekv6risb565pp.apps.googleusercontent.com&redirect_uri=http://localhost:3000/&response_type=code&scope=https://www.googleapis.com/auth/youtube.readonly"%>
</div>

<div>
  <%= @access_token %>
</div>
<div>
  <%#= @redirect_code %>
</div>

<%# @videos.items.each do |item| %>
<%# snippet = item.snippet %>
<%# <p> %>
<%#= snippet.title %>
<%# </p> %>
<%# <div class="youtube__screen"> %>
<%# <iframe width="889" height="500" src="https://www.youtube.com/embed/<%= item.id %>
<%# allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
<%# </div> %>
<%# end %>