  <div class="side-bar-menu">
    <div class="side-bar-menu__children">
      <div class="has_image side-bar-menu__children__home">
        <div class="menu-image__home"><%= image_tag "/assets/images/home.png", size: '30x30' %></div>
        <%=link_to "ホーム", root_path %>
      </div>
      <div class="has_image side-bar-menu__children__up">
        <div class="menu-image__up"><%= image_tag "/assets/images/up.png", size: '30x30' %></div>
        <p>急上昇</p>
      </div>
      <div class="has_image side-bar-menu__children__sub">
        <div class="menu-image__sub"><%= image_tag "/assets/images/sub.png", size: '30x30' %></div>
        <p>登録チャンネル</p>
      </div>
      <div class="has_image side-bar-menu__children__library">
        <div class="menu-image__lib"><%= image_tag "/assets/images/library.png", size: '30x30' %></div>
        <p>ライブラリ</p>
      </div>
      <div class="has_image side-bar-menu__children__history">
        <div class="menu-image__his"><%= image_tag "/assets/images/history.png", size: '30x30' %></div>
        <p>履歴</p>
      </div>
      <div class="has_image side-bar-menu__children__my_video">
        <div class="menu-image__my_video"><%= image_tag "/assets/images/my_video.png", size: '30x30' %></div>
        <p>自分の動画</p>
      </div>
      <div class="has_image side-bar-menu__children__later">
        <div class="menu-image__later"><%= image_tag "/assets/images/later.png", size: '30x30' %></div>
        <p>後で見る</p>
      </div>
      <div class="has_image side-bar-menu__children__good">
        <div class="menu-image__good"><%= image_tag "/assets/images/good.png", size: '30x30' %></div>
        <p>高く評価した動画</p>
      </div>
      <div class="has_image side-bar-menu__children__more">
        <div class="menu-image__more"><%= image_tag "/assets/images/more.png", size: '30x30' %></div>
        <p>もっと見る</p>
      </div>
    </div>

    <div class="has_image side-bar-menu__bottom">
      <%= link_to "JunTube", juntubes_path, class:'side-bar-menu__bottom__juntube' %>

    <%= render partial: "layouts/oauth" %>
    
    <div class="has_image side-bar-menu__bottom">
      <%= link_to "開発者について(Github)", "https://github.com/07130918/Youtube_5_recommends", class:'side-bar-menu__bottom__dev',target: :_blank %>
    </div>
  </div>