<!DOCTYPE html>
<html>

<head>
  <title>Youtube_5_Recommends</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto:wght@100&display=swap"
    rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="body">
  <header class="header"></header>
  <div class="side-bar-menu">
    <div class="side-bar-menu__top">
      <div class="toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="logo">

        <%= link_to image_tag("logo.png"), "https://www.youtube.com",target: :_blank %>
      </div>
    </div>
    <div class="side-bar-menu__children">
      <div class="side-bar-menu__children__home">ホーム</div>
      <div class="side-bar-menu__children__up">急上昇</div>
      <div class="side-bar-menu__children__sub">登録チャンネル</div>
      <div class="side-bar-menu__children__library">ライブラリ</div>
      <div class="side-bar-menu__children__history">履歴</div>
      <div class="side-bar-menu__children__my_video">自分の動画</div>
      <div class="side-bar-menu__children__leter">後で見る</div>
      <div class="side-bar-menu__children__good">高く評価した動画</div>
      <div class="side-bar-menu__children__more">もっと見る</div>
    </div>
    <div class="side-bar-menu__bottom">
      <%= link_to "JunTube", juntubes_path, class:'side-bar-menu__bottom__juntube' %>
      <%# アカウント認証するとcode発行 %>
      <%= link_to "このボックスをクリックしgoogleアカウントを認証するとアプリが使えます", "https://accounts.google.com/o/oauth2/auth?client_id=660241016882-pl2v6ilg0k0vqi3eqdqekv6risb565pp.apps.googleusercontent.com&redirect_uri=http://localhost:3000/&scope=https://www.googleapis.com/auth/youtube.readonly&response_type=code", class:'side-bar-menu__bottom__oauth'%>
    </div>
  </div>
  <%= yield %>
</body>

</html>